# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Some of the popular languages that Data Scientists use are
* Some of the commonly used libraries used by Data Scientists include
* Below are a few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. caret
3. pandas

|Data Science Tools|
|------------------|
|visual studio|
|rStudio|
|Jupyter Labs|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Kyle